<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>
<%- messages() %>
<% if (errors) { %>
    <ul class="warning">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
<%  }) %>
    </ul>
<% } %>
<h1>You're Logged In</h1>