<h1 class="home-title">Welcome to CSE Motors!</h1>
<div class="hero">
    <div class="box">
        <h2 class="box-title">DMC Delorean</h2>
        <p class="facts">3 Cup holders</p>
        <p class="facts">Superman doors</p>
        <p class="facts">Fuzzy dicel</p>
        <button >Own Today</button>
    </div>
    <img class="hero-img" src="/images/vehicles/delorean.jpg" alt="Flux Capacitor">
</div>
<div class="rev-up">
    <div class="rev-contain">
        <h2 class="subtitle">DMC Delorean Reviews</h2>
        <ul class="reviews">
            <li>"So fast it's almost like traveling in time."(4/5)</li>
            <li>"Coolest ride on the road."(4/5)</li>
            <li>"I'm feeling McFly!"(5/5)</li>
            <li>"The most futuristic ride of our day."(4.5/5)</li>
            <li>"80's livin and I love it!"(5/5)</li>
        </ul>
    </div>
    <div class="up-contain">
        <h2 class="subtitle">Delorean Upgrades</h2>
        <div class="upgrade-box">
            <div class="upgrade1">
                <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                <p><a href="" >Flux Capacitor</a></p>
            </div>
            <div class="upgrade2">
                <img src="/images/upgrades/flame_tr.png" alt="Flame Decals">
                <p><a href="" >Flame Decals</a></p>
            </div>
            <div class="upgrade3">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                <p><a href="" >Bumper Stickers</a></p>
            </div>
            <div class="upgrade4">
                <img src="/images/upgrades/hub_cap.png" alt="Hub Caps">
                <p><a href="" >Hub Caps</a></p>
            </div>
        </div>
    </div>
</div>