/******* Change Box Model ***************/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
:root {
  --accent: rgb(179, 63, 63);
  --light-accent: rgb(207, 138, 138);
}
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
main h1 {
  padding: 10px;
}
header {
  display: flex;
  justify-content: space-between;
}
.siteName {
  padding: 0 10px;
  margin: 10px 0;
}
.siteName a {
  font-size: 2rem;
  color: black;
}
a {
  text-decoration: none;
}
#tools {
  padding: 0 10px;
  margin: 10px 0;
}
#tools a {
  color: black;
}
/* *****************nav********************** */
nav {
  color: white;
  background-color: rgb(41, 41, 41);
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}
nav ul li {
  margin: 0;
  padding: 15px 10px;
}
nav ul li:hover {
  background-color: var(--accent);
}
nav ul li a {
  color: white;
}
/* ***************end nav**************** */
.home-title {
  font-size: 1.5rem;
}
.subtitle {
  font-size: 1.3rem;
}
.hero-img {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.box {
  color: var(--accent);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0;
  width: 150px;
  margin: 10px;
  position: relative;
  top: 170px;
  left: 30px;
  z-index: 999;
}
.box-title {
  font-size: 1.2rem;
  margin-bottom: 2px;
}
.facts {
  padding: 0;
  margin: 0;
  font-size: .9rem;
}
button {
  background-color: var(--accent);
  border: 1px solid grey;
  color: white;
  font-weight: 700;
  padding: 8px;
  margin: 10px 0 0 0;
}
.reviews li {
  margin: 15px 0;
}
.upgrade-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.upgrade-box p a {
  color: white;
}
.upgrade1, .upgrade2, .upgrade3, .upgrade4 {
  background-color: rgba(179, 63, 63, 0.8);
  padding: 10px 20px;
  margin: 0 10px 20px 10px;
  border-radius: 15px;
  text-align: center;
}
.upgrade-box img {
  width: 30%;
}
/* ******************Product pages***************** */
#inv-display {
  margin: 5px;
  padding: 5px;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}
#inv-display li {
  margin: 10px;
  padding: 10px;
  border: 1px lightgray solid;
  border-radius: 10px;
  list-style-type: none;
  flex: 1 1 auto;
  text-align: center;
  /* max-width: 300px; */
}
#inv-display li img {
  padding-bottom: 10px;
  margin: auto auto;
}
#inv-display hr {
 margin: 0;
 padding: 0;
}
.namePrice  h2 a{
  color: black;
}

/* *********product page end************** */
/* ***************individual item **************** */

.details {
  margin: 10px;
}
.inventory-detail img {
  width: 100%;
}

/* ***************end item **************** */
/* ***************Messages***************** */
.notice {
  color: black;
  background-color: lightgreen;
  font-style: italic;
  font-weight: 800;
  list-style: none;
  padding: 20px;
  width: 95%;
  margin: 10px auto;
}
input:required:invalid, input:focus:invalid {
  background-color: rgb(255, 188, 188);
}
input:required:valid {
  border: 2px solid rgb(51, 246, 51);
}
.warning {
  color: white;
  background-color: red;
  font-style: italic;
  font-weight: 800;
  list-style: none;
  padding: 20px;
  width: 95%;
  margin: 10px auto;
}
/* ***************end messages************* */
/* ***************Login(all form styles)****************** */
.form {
  background-color: var(--accent);
  padding: 20px;
  border: 5px solid var(--light-accent);
  border-radius: 15px;
  margin: auto;
  max-width: 70%;
}
.form label {
  display: block;
  box-sizing: border-box;
  color: white;
  font-weight: 600;
}
.form input {
  margin: 5px 0;
  padding: 5px;
  border: 2px solid var(--light-accent);
  border-radius: 5px;
  width: 100%;
}
.form div p {
  color: white;
  font-style: italic;
  font-size: .7rem;
  margin: 0 0 5px 0 ;
  text-align: left;
}
.form button {
  display: block;
  box-sizing: border-box;
  background-color: white;
  color: var(--accent);
  border: 2px solid var(--light-accent);
  border-radius: 50px;
  margin: 5px auto;
  padding: 5px 15px;
  transition: .5s;
}
.form button:hover {
  color: white;
  background-color: var(--accent);
  border: 2px solid white;
}
.form p {
  color: white;
  text-align: center;
}
.form a {
  color: white;
  text-decoration: underline;
}
/* ***********end login******************* */
/* ************register****************** */
#pswdBtn {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
/* ***********end register*************** */
/* **********Management***************** */
.link-container {
  display: flex;
}
.link-container p {
  border: 2px solid var(--accent);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  transition: .5s;
}
.link-container p:hover {
  background-color: var(--accent);
}
.link {
  color: black;
  font-weight: 700;
  transition: .5s;
}
.link:hover {
  color: white;
}
/* ***************new inventory*********** */
.form select {
  width: 100%;
  margin: 5px 0;
  padding: 5px;
  border: 2px solid var(--light-accent);
  border-radius: 5px;
}
.form textarea {
  width: 100%;
  resize: none;
  margin: 5px 0;
  padding: 5px;
  border: 2px solid var(--light-accent);
  border-radius: 5px;
}
/* ***************end new inventory*********** */
/* ************end management************ */

footer {
  margin: 0 10px;
}
@media  screen and (min-width: 750px) {
  body {
    background-image: url(../images/site/checkerboard.jpg);
    background-size: 50%;
  }
  #wrapper {
    background-color: white;
    border: 5px solid var(--accent);
    border-radius: 10px;
    width: 80%;
    margin: 10px auto;
  }
  .siteName {
    padding: 10px;
  }
  #tools a {
    margin: 10px;
  }
  nav {
    margin: 0 10px;
  }
  .rev-up {
    display: grid;
    grid-template-columns: 1fr;
  }
  .up-contain {
    grid-column: 1;
    grid-row: 1;
    padding: 0 10px;
  }
  .rev-contain {
    grid-column: 2;
    grid-row: 1;
    padding: 0 10px;
  }
  .reviews li{
    margin: 20px 0px;
  }
  /* *******************nav************************** */
  nav {
    color: white;
    background-color: rgb(41, 41, 41);
  }
  nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
  }
  nav ul li {
    margin: 0;
    padding: 15px 10px;
  }
  nav ul li:hover {
    background-color: var(--accent);
  }
  nav ul li a {
    color: white;
  }
  /* ****************end nav*********************** */

  /* ***************individual item **************** */  
  .inventory-detail img {
    width: fit-content;
  }
  .details p {
    margin: 0;
    padding: 8px;
  
  }
  .details p:nth-child(odd) {
    background-color: lightgrey;
  
  }
    /* ***************end item **************** */

}
@media screen and (min-width: 1100px){
  #wrapper {
    width: 70%;
  }
  .home-title {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 1.8rem;
  }
  .box {
    width: 250px;
  }
  .box-title {
    font-size: 1.8rem;
  }
  .facts {
    font-size: 1.2rem;
  }
  button {
    padding: 12px;
  }
  .reviews li{
    margin: 30px 0px;
  }
    /* ***************individual item **************** */

.inventory-detail {
  display: grid;
  grid-template-columns: max-content 1fr;
}
.inventory-detail img {
  margin: 0 20px 0 20px;
}
.details p {
  margin: 0 20px 0 0;
  padding: 8px;

}
.details p:nth-child(odd) {
  background-color: lightgrey;

}

/* **************item end**************** */
}